@import 'form.css';

@font-face {
  font-family: "justinRoiland";
  src: url("../fonts/rick_and_morty_by_shittychan.ttf");
}

@font-face {
  font-family: "getSchwifty";
  src: url("../fonts/get_schwifty_by_jonizaak.ttf");
}

@font-face {
  font-family: "adultSwim";
  src: url("../fonts/adult_swim_font_by_esteveztheart.ttf");
}

* {
  box-sizing: border-box;
  font-family: "adultSwim", helvetica, arial;
}

body {
  background-color: #EEE;
  background-image: url('../images/pickle_rick.png');
  background-attachment: fixed;
  color: #111;
  font-size: 16px;
  margin: 0;
}

main {
  background-color: #39CCCC;
  border: 2px solid #2ECC40;
  border-radius: 30px;
  margin: 2em auto;
  width: 50%;
}

h1 {
  font-family: 'getSchwifty';
  font-size: 4em;
  text-align: center;
}

article {
  border-top: 3px solid #2ECC40;
  padding: 1em;
  margin: 1em;
}

h2 {
  font-family: "justinRoiland";
  font-size: 2.5em;
  margin: .5em 0;
}

.profile {
  height: 50px;
  width: 50px;
}

h3 {
  display: inline-block;
  font-family: "justinRoiland";
  font-size: 1.7em;
  margin: 0 1em;
}

time {
  font-family: "justinRoiland";
  font-size: 1.5em;
  font-weight: bold;
}

p {
  line-height: 125%;
}
