@import 'form.css';

@font-face {
  font-family: "justinRoiland";
  src: url("../fonts/rick_and_morty_by_shittychan.ttf");
}

@font-face {
  font-family: "getSchwifty";
  src: url("../fonts/get_schwifty_by_jonizaak.ttf");
}

* {
  box-sizing: border-box;
  font-family: 'Titillium Web', helvetica, sans-serif;
}

body {
  background-color: #EEE;
  background: url('../images/background.jpg') 100%;
  background-attachment: fixed;
  color: #111;
  font-size: 16px;
  margin: 0;
}

main {
  margin: 2em auto;
  width: 50%;
}

section, article {
  background-color: rgba(238, 238, 238, .9);
  border: 2px solid #2ECC40;
  border-radius: 10px;
  padding: 1em;
  margin: 1em;
}

h1 {
  font-family: 'getSchwifty';
  font-size: 4em;
  text-align: center;
}

article {
  padding: 1em;
  margin: 1em;
}

h2 {
  font-family: "justinRoiland";
  font-size: 2.5em;
  margin: .5em 0;
}

.profile {
  height: 50px;
  width: 50px;
}

h3 {
  display: inline-block;
  font-family: "justinRoiland";
  font-size: 1.7em;
  margin: 0 1em;
}

time {
  font-family: "justinRoiland";
  font-size: 1.5em;
  font-weight: bold;
}

p {
  font-size: 1.2em;
  line-height: 125%;
}
